<a href="https://colab.research.google.com/github/gajalakshmi25/DataAlgorithmsfile/blob/main/C129_FinalSCraped%20DAta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  **final_scraped_data.csv** : ["name", "light_years_from_earth", "planet_mass", "stellar_magnitude", "discovery_date", "hyperlink","planet_type","discovery_date", "mass", "planet_radius", "orbital_radius", "orbital_period", "eccentricity"]
2.   **PSComp.csv**

In [ ]:
!git clone https://github.com/procodingclass/PRO-NASA-Exoplanet-Scraped-Data

Cloning into 'PRO-NASA-Exoplanet-Scraped-Data'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 23 (delta 8), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (23/23), done.

In [ ]:
import pandas as pd

In [ ]:
final_planet_df = pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/final_scraped_data.csv')

archive_planet_df = pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/PSCompPars.csv')

In [ ]:
final_planet_df.head()

,Unnamed: 0,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink,planet_type,mass,planet_radius,orbital_radius,orbital_period,eccentricity
0,0,0,11 Comae Berenices b,304.0,19.4 Jupiters,4.72307,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,19.4 Jupiters,1.08 x Jupiter,1.29 AU,326 days,0.23
1,1,1,11 Ursae Minoris b,409.0,14.74 Jupiters,5.01300,2009,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,14.74 Jupiters,1.09 x Jupiter,1.53 AU,1.4 years,0.08
2,2,2,14 Andromedae b,246.0,4.8 Jupiters,5.23133,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,4.8 Jupiters,1.15 x Jupiter,0.83 AU,185.8 days,0.0
3,3,3,14 Herculis b,58.0,4.66 Jupiters,6.61935,2002,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,4.66 Jupiters,1.15 x Jupiter,2.93 AU,4.9 years,0.37
4,4,4,16 Cygni B b,69.0,1.78 Jupiters,6.21500,1996,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.78 Jupiters,1.2 x Jupiter,1.66 AU,2.2 years,0.68

In [ ]:
final_planet_df.drop(columns=['Unnamed: 0'], inplace=True)
final_planet_df.head()

,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink,planet_type,mass,planet_radius,orbital_radius,orbital_period,eccentricity
0,0,11 Comae Berenices b,304.0,19.4 Jupiters,4.72307,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,19.4 Jupiters,1.08 x Jupiter,1.29 AU,326 days,0.23
1,1,11 Ursae Minoris b,409.0,14.74 Jupiters,5.01300,2009,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,14.74 Jupiters,1.09 x Jupiter,1.53 AU,1.4 years,0.08
2,2,14 Andromedae b,246.0,4.8 Jupiters,5.23133,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,4.8 Jupiters,1.15 x Jupiter,0.83 AU,185.8 days,0.0
3,3,14 Herculis b,58.0,4.66 Jupiters,6.61935,2002,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,4.66 Jupiters,1.15 x Jupiter,2.93 AU,4.9 years,0.37
4,4,16 Cygni B b,69.0,1.78 Jupiters,6.21500,1996,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.78 Jupiters,1.2 x Jupiter,1.66 AU,2.2 years,0.68

In [ ]:
archive_planet_df.head()

,id,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
0,0,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,0,326.03000,...,-1.9238,4.72307,0.023,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848
1,1,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,0,516.21997,...,-1.9765,5.01300,0.005,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903
2,2,14 And b,14 And,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,0,185.84000,...,-0.7140,5.23133,0.023,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826
3,3,14 Her b,14 Her,1,2,Radial Velocity,2002,W. M. Keck Observatory,0,1773.40002,...,-0.0073,6.61935,0.023,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351
4,4,16 Cyg B b,16 Cyg B,3,1,Radial Velocity,1996,Multiple Observatories,0,798.50000,...,-0.0111,6.21500,0.016,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603

In [ ]:
final_planet_df.shape

(5009, 13)

In [ ]:
archive_planet_df.shape

(5009, 85)